    /* ===== MEDIA QUERYS ===== */


    /*  MOBILE DEVICES */
    
@media only screen and (min-width: 320px){

    body{
        color: salmon;
        background: url(/src/assets/Images/rymseason4.jpg);
    }

    .home_section_title {
        font-family: get schwifty;
        font-weight: bold;
        font-size: 10px;
        color: yellow;
        align-items: center;
        margin: auto;
        padding: 15px;
    }

    .nav_titles {
        font-weight: bold;
        color: white;
        justify-content: space-between;
        text-decoration: none;
    }

} /* 1 */
@media only screen and (min-width: 801px){

    body{
        color: seagreen;
    }


}

    


   