    /* ===== MEDIA QUERYS ===== */


    /*  MOBILE DEVICES */
    
@media (min-width: 310px) and (max-width: 400px) {

     /* HOME SECTION  */

    .icon-bars-container{
        display: flex;
    }

    .icon-bars{
        color: tomato;
    }

    .nav_bar {
        display: flex;
        /* flex-wrap: nowrap; */
        justify-content: start;
        max-width: 100%;
        max-height: min-content;
    }

    .home_section_title-container{
        padding: 0;
        width: 100%;
    }

    .home_section_title {
        font-size: 20px;
        margin: 0;
        width: 100%;
    }

    .search_bar_container, .icon-search-container {
        width: 100%;
    }

    .nav_container, .nav_elements,.nav_titles {
        display: none;
    }


    /* CARDS  */

    .card_name{
        margin-top: 10rem;
        font-size: 1rem;
        bottom: 5rem;
    }

    /*  FILTERS NAV */

    .filters_nav{
        flex-wrap: wrap;
        justify-content: center;
    }

    .filters_nav-btn{
        width: 100px;
        /* max-width: 100px; */
        margin-top: .7rem;
    }

    .filters_nav-labels > svg {
        width: 1rem;
        height: 1rem;
    }

    .filters_nav-labels > p{
        font-size: .4rem;
    }

    .filters_nav-labels > p:hover{
        color: var(--primary-color);
    }

} 

/* @media only screen and (min-width: 801px){

    body{
        color: seagreen;
    }


} */

    


   