    * {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: var(--text-font);
        color: white;
    }
    
    @import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@600&family=Imprima&display=swap');
     :root {
        --primary-color: #7CFC00;
        --secondary-color: #9DE7F8;
        --accent-color: #10100F;
        --text-color: #ffff;
        --gray-color: #625F5A;
        --black-transparence: rgba(26, 32, 44, 0.5);
        --green-transparence: rgba(126, 252, 0, 0.507);
        --h1-tittle-font: 'get schwifty';
        --tittle-font: 'Baloo Thambi 2', cursive;
        --text-font: 'Imprima', sans-serif;
    }
    
    @font-face {
        font-family: get schwifty;
        src: url(./get_schwifty.ttf);
    }
    /* === HELPERS CLASS ==== */
    /*.hidden {
        display: none;
    }*/
    
    a {
        text-decoration: none;
    }
    
    a:visited {
        color: var(--primary-color);
    }
    
    li {
        list-style: none;
    }
    
    body {
        background-image: url("https://static.videezy.com/system/resources/thumbnails/000/042/456/original/Sky-night-rotation-space-background.jpg");
        background-color: #000;
        background-repeat: repeat-y;
        background-clip: padding-box;
    }
    /* == HEADER SECTION == */
    
    .icon-bars {
        display: none;
    }
    
    .nav_bar {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        max-width: 100vh;
        min-width: 100%;
        height: max-content;
        background: var(--black-transparence);
        /* z-index: 3; */
    }
    
    .nav_container {
        display: flex;
        position: row;
        justify-content: space-between;
    }
    /*.nav_titles-container {
        display: none;
    }*/
    
    .nav-menu_invisible {
        display: none;
    }
    
    .nav_titles {
        font-weight: bold;
        color: var(--primary-color);
        justify-content: space-between;
        margin-right: 50px;
        text-decoration: none;
    }
    
    .nav_titles:hover {
        text-decoration: underline;
        color: var(--secondary-color);
    }
    
    .nav_elements {
        text-align: right;
        font-family: 'Baloo Thambi 2';
        font-size: 25px;
    }
    
    .nav-menu_visible {
        display: flex;
    }
    
    .search_bar_container {
        align-items: center;
    }
    
    .search_bar {
        outline: rgba(124, 252, 0, 0.64) solid 1px;
        border-radius: 10px;
        background-color: transparent;
        border-color: var(--primary-color);
        /*margin-left: 400px;*/
        /*margin-top: -150px;*/
        z-index: 3;
        width: 30vh;
    }
    
    .icon-search-container {
        background-color: transparent;
        outline: none;
        border: none;
        cursor: pointer;
    }
    
    .icon-search {
        color: var(--primary-color);
        /*position: absolute;*/
        height: 200px;
        width: 200px;
        /*margin-left: 600px;*/
        /*margin-top: -150px;*/
        z-index: 3;
        
    }
    
    .bx {
        color: var(--primary-color);
    }
    /*== HOME SECTION ==*/
    
    .home_section_title-container {
        padding: 15px;
    }
    
    .home_section_title {
        font-family: get schwifty;
        font-weight: bold;
        font-size: 5vh;
        color: var(--accent-color);
        -webkit-text-stroke: 1px var(--primary-color);
        margin: auto;
    }
    /*== QUOTE SECTION ==*/
    
    .quote_section {
        text-align: center;
        width: fit-content;
        max-width: 80vw;
        max-height: fit-content;
        background-color: var(--green-transparence);
        margin: 5% auto;
        border-radius: 20px 0px 0px 20px;
    }
    
    .quote {
        padding: 5%;
        font-weight: bold;
        font-size: 2.62;
        -webkit-text-stroke: 0.3px #10100F;
        color: var(--accent-color);
        font-family: var(--text-font);
    }
    /*== CAROUSEL SECTION ==*/
    
    .carousel_section {
        z-index: 3;
        outline: rgba(124, 252, 0, 0.64) solid 5px;
        margin: auto;
        display: flex;
        width: cover;
        height: 59.88vh;
        border: var(--primary-color);
        background-color: var(--black-transparence);
        margin-top: 2%;
        margin-bottom: 2%;
    }
    
    .carousel {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        min-width: 20%;
    }
    
    .img-carousel {
        padding-top: 5%;
        align-items: center;
        width: calc(100%);
        cursor: pointer;
        height: 100%;
    }
    /*== VIDEO SECTION==*/
    
    .video_section {
        background-color: #fc7100;
        margin: auto;
        display: flex;
        width: fit-content;
        margin-top: 2%;
        margin-bottom: 2%;
    }
    
    .video {
        /*padding-top: 200px;*/
        display: flex;
        flex-direction: row;
        justify-content: center;
        cursor: pointer;
        height: 70%;
        width: 100%;
    }
    
    .video-size {
        /*box-sizing: content-box;*/
        width: 100%;
    }
    /*== FOOTER ==*/
    
    footer {
        background: rgba(26, 32, 44, 0.5);
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    .footer_text {
        text-align: start;
    }
    
    .footer_img {
        /* width: 200px;
        height: 200px; */
        height: 20vh;
        align-self: center;
        border-radius: 80%;
        /* align-content: center; */
    }
    
    .social_media {
        display: flex;
        justify-content: space-between;
        width: auto;
        margin: 0% 10%;
    }
    
    .social_media>li {
        margin: 0% 10%;
        height: 32.89vh
        /*width: 200px;*/
    }
    
    .social_media_icons {
        color: var(--primary-color);
    }

    /* ================== FILTERS HTML ====================== */

.card{
    display: flex;
    flex-wrap: wrap;
    background-color: white;
    max-width: 25vh;
    height: 38vh ;
    margin: 0px;
    border-radius: 10px;
    justify-content: center;
}

.card_image-name{
    display: inline-block;
    position: relative;
    justify-content: center;
}

.card_image{
    /* width: 100%;
    height: 100%; */
}
.card_name{
    position: absolute;
    text-align: center;
    color: var(--primary-color);
    background-color: var(--black-transparence);
    padding: .3rem .6rem;
    position: absolute;
    font-size: .8rem;
    border-radius: 5px;
    z-index: 8;
    /* margin: -1.7rem 2rem 8rem 2rem; */
    margin-top: -1.7rem;
    margin-left: 1.3rem;
}

.card_info{
    background-color: var(--secondary-color);
    border-radius: 0px 0px 10px 10px;
    width: 25vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    font-size: .8em;
}

.card_status{
    display: inline-block;
    width: 100%;
}

.card_status_text{
    
}
.card_status_circle{
    width: 7px;
    height: 7px;
    margin: 0px;
    background-color: var(--primary-color);
    border-radius: 50%;
}

.card_location{
}
.card_location-label{}
.card_location-text{}

.card_moreinfo{
    width: 100%;
    color: var(--primary-color);
    font-family: var(--tittle-font);
    margin: 0px auto;
    background-color: transparent;
    outline: none;
    border: none;
    cursor: pointer;
}
    
    .icon-footer {
        background-color: var(--primary-color);
        margin-top: 4em;
        border-radius: 30%;
    }
    /* ================== FILTERS HTML ====================== */
